body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

    margin-bottom: 8%;
}

.half-width img {
    width: 90%;
}

.button-color {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiance-area {
    width: 80%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}

.experiance-item {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#full-developer {
    border-left: 7px solid orange;
}

#pro-developer {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}